  <%= render "shared/header" %>

<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3 text-center">
      <div class="container-fluid py-5">
        <%= link_to image_tag("riha.png", class:"riha-icon"), "/" %>
        <h1 class="display-5 fw-bold">最新の投稿</h1>
      </div>
    </div>
</div>